<h3 data-collapser>Elements at the edges</h3>
<div data-collapsible class="edge">
  <p><strong>Top</strong></p>
  <button class="left-edge">Left Edge</button>
  <div data-guide-spot=".edge .left-edge" data-guide-options="marker.position:topleft, marker.width: 320">
    Edgy content.

    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur.
  </div>

  <button class="right-edge">Right Edge</button>
  <div data-guide-spot=".edge .right-edge"
  data-guide-options="marker.position:topright, marker.width: 320">
    Edgy content.

    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur.
  </div>

  <button class="top-right-edge">Top-right Edge</button>
  <div data-guide-spot=".edge .top-right-edge"
  data-guide-options="marker.position:bottomright, marker.width: 320">
    Edgy content.

    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur.
  </div>

  <button class="top-left-edge">Top-left Edge</button>
  <div data-guide-spot=".edge .top-left-edge"
  data-guide-options="marker.position:bottomleft, marker.width: 320">
    Edgy content.

    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur.
  </div>

</div>