<h3 data-collapser><strong>Different types of nodes</strong></h3>
<div data-collapsible>
  <ul class="node-mix">
    <li>
      <button data-guide="Placeholder">A button</button>
    </li>
    <li>
      <p data-guide="Placeholder">A paragraph.</p>
    </li>
    <li>
      <a href="#" data-guide="Placeholder">An anchor</a><br />
    </li>
    <li>
      <span href="#" data-guide="Placeholder">A span</span><br />
    </li>
    <li><h6 data-guide="Placeholder">A heading</h6></li>
  </ul>
</div>