body {
  font: 14px Arial, Helvetica, sans-serif;
  line-height: 1.4;
  max-width: 720px;
  margin: 0 auto;
  color: #444;
}

a {
  color: #01B0EC;
}
a:visited {
  color: #AA66CC;
}

.with-gjs {
  padding-bottom: 45px;
  min-height: 100%;
}
.example {
}
.example > section {
  vertical-align: top;
}
.example > section.single {
  max-width: inherit;
}
.example > section > div {
  /*margin: 40px 0;*/
}

.example button.guide-target-right { margin-right: 80px; }
.example button.guide-target-left { margin-left: 80px; }

.example .freespace {
  height: 80px;
}

.example .grid {
  margin: 40px 80px;
}

.example .grid ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.example .grid li {
  display: inline-block;
  width: 32%;
  min-width:  100px;
  min-height: 100px;
}
.example .grid li:nth-of-type(3n+1) {
  text-align: left;
}
.example .grid li:nth-of-type(3n+2) {
  text-align: center;
}
.example .grid li:nth-of-type(3n+3) {
  text-align: right;
  margin-top: 40px;
}
.example .grid button.guide-target-left,
.example .grid button.guide-target-right {
  margin-left: 0;
  margin-right: 0;
}
.example .guide-marker .text {
  text-align: center;
}

.example ul.node-mix {
  max-width: 240px;
}

.example ul.node-mix li {
  min-height: 40px;
  margin: 30px 0;
}

[data-collapser] {
  position: relative;
  cursor: s-resize;
  padding-right: 40px;
}

[data-collapser]:after {
  content: " ";
  position: absolute;
  right: 10px;
  top: 4px;
  line-height: inherit;
  font-size: 16px;
  border: 7px solid transparent;
  border-top: 14px solid #555;
}

[data-collapser].collapsed {
  cursor: n-resize;
}
[data-collapser].collapsed:after {
  top: -2px;
  border: 7px solid transparent;
  border-bottom: 14px solid #555;
}

#controls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  border-top: 1px solid #ddd;
  padding: 10px;
  z-index: 103;
}

.example .text-left { text-align: left; }
.example .text-center { text-align: center; }

.example .blocks p.gjs-entity {
  margin: 60px 0;
}

[data-collapser] {
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
}

.example img {
  max-width: 100%;
}

.example #spots li {
  margin: 10px 0;
}

.dynamic-tours .gjs-marker:not(.focused) {
  padding: 0 10px;
}
#gjs_controls {
  overflow: visible;
}
.example .edge .left-edge { position: absolute; left: 0; }
.example .edge .right-edge { position: absolute; right: 0; }
.example .edge .top-right-edge { position: absolute; top: 0; right: 0; }
.example .edge .top-left-edge { position: absolute; top: 0; left: 0; }

.slideshow #gjs_tutor {
  padding: 20px 10px;
}

.content-sources {
  position: relative;
  margin-bottom: 120px;
}
.content-sources div {
  position: relative;
}
.content-sources pre {
  text-align: left;
  position: absolute;
  right: 0;
  top: 0;
  vertical-align: top;
  width: 420px;
  overflow: auto;
}

/**
 * GitHub theme
 *
 * @author Craig Campbell
 * @version 1.0.4
 */
pre {
    border: 1px solid #ccc;
    /*word-wrap: break-word;*/
    padding: 6px 10px;
    line-height: 19px;
    margin-bottom: 20px;
}

code {
    border: 1px solid #eaeaea;
    margin: 0px 2px;
    padding: 0px 5px;
    font-size: 12px;
}

pre code {
    border: 0px;
    padding: 0px;
    margin: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

pre, code {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    color: #333;
    background: #f8f8f8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

pre, pre code {
    font-size: 13px;
}

pre .comment {
    color: #998;
}

pre .support {
    color: #0086B3;
}

pre .tag, pre .tag-name {
    color: navy;
}

pre .keyword, pre .css-property, pre .vendor-prefix, pre .sass, pre .class, pre .id, pre .css-value, pre .entity.function, pre .storage.function {
    font-weight: bold;
}

pre .css-property, pre .css-value, pre .vendor-prefix, pre .support.namespace {
    color: #333;
}

pre .constant.numeric, pre .keyword.unit, pre .hex-color {
    font-weight: normal;
    color: #099;
}

pre .entity.class {
    color: #458;
}

pre .entity.id, pre .entity.function {
    color: #900;
}

pre .attribute, pre .variable {
    color: teal;
}

pre .string, pre .support.value  {
    font-weight: normal;
    color: #d14;
}

pre .regexp {
    color: #009926;
}

.example button {
  display: inline-block;
  zoom: 1;
  padding: 0 12px;
  margin: 0;
  font-size:    12px;
  line-height:  30px;
  height:       30px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #555;
  background-color: #ddd;
  border: none;
  .gjs-appearance(none);
  .gjs-border-radius(0);
  text-shadow: 0 1px 0 white;
}

.example button:hover {
  background-color: #ccc;
  text-decoration: none;
  outline: 0;
}
.example button:focus,
.example button:active {
  background-color: #aaa;
}
.example button:disabled {
  cursor: default;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

iframe {
  border: 1px dotted #aaa;
  padding: 40px;
}
hr {
  border: none;
  border-bottom: 1px solid #ccc;
}