body {
  font-family: "Arial";
}
.example > section {
  display: inline-block;
  margin-right: 5%;
  max-width: 40%;
  vertical-align: top;
}
.example > section.single {
  max-width: inherit;
}
.example > section > div {
  /*margin: 40px 0;*/
}

.example button.guide-target-right { margin-right: 80px; }
.example button.guide-target-left { margin-left: 80px; }

.example .freespace {
  height: 80px;
}

.example .grid {
  margin: 40px 80px;
}

.example .grid ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.example .grid li {
  display: inline-block;
  width: 32%;
  min-width:  100px;
  min-height: 100px;
}
.example .grid li:nth-of-type(3n+1) {
  text-align: left;
}
.example .grid li:nth-of-type(3n+2) {
  text-align: center;
}
.example .grid li:nth-of-type(3n+3) {
  text-align: right;
  margin-top: 40px;
}
.example .grid button.guide-target-left,
.example .grid button.guide-target-right {
  margin-left: 0;
  margin-right: 0;
}
.example .guide-marker .text {
  text-align: center;
}

.example ul.node-mix {
  max-width: 240px;
}

.example ul.node-mix li {
  min-height: 40px;
  margin: 30px 0;
}

[data-collapser] {
  position: relative;
  cursor: s-resize;
  padding-right: 40px;
}

[data-collapser]:after {
  content: " ";
  position: absolute;
  right: 10px;
  top: 4px;
  line-height: inherit;
  font-size: 16px;
  border: 7px solid transparent;
  border-top: 14px solid #555;
}

[data-collapser].collapsed {
  cursor: n-resize;
}
[data-collapser].collapsed:after {
  top: -2px;
  border: 7px solid transparent;
  border-bottom: 14px solid #555;
}