<p><strong>Basic</strong></p>
<ul>
  <li><a href="/basic/quickstart.html">Quickstart example</a></li>
  <li><a href="/basic/multiple_tours.html">Multiple tours</a></li>
</ul>

<p><strong>Advanced</strong></p>
<ul>
  <li><a href="/advanced/content_sources.html">Content sources</a></li>
  <li><a href="/advanced/placement.html">Placement &amp; positioning</a></li>
</ul>

<p><strong>Styles</strong></p>
<ul>
  <li><a href="/styles/slideshow.html">Slideshow</a></li>
</ul>
