@import "gjs-common";
@import "extensions/gjs-tutor";
@import "extensions/gjs-markers";
@import "extensions/gjs-smart-markers";
@import "extensions/gjs-controls";
@import "extensions/gjs-toggler";

.gjs-entity .caption,
.gjs-entity .text {
  font: 14px Arial, Helvetica, sans-serif;
}

/**
 * gjs.js Skin
 */
.gjs-spot {
  &:after {
    .gjs-fullscreen(-5px);
    background-color: fade(@gjs-highlight-bg, 10%);
  }
}

.gjs-positioning-fix {
  position: relative;
}

.gjs-spot-focused {
  &:after {
    background-color: fade(@gjs-highlight-bg, 20%);
  }
}

.gjs-spot-disco {
  @dim: 6px;
  @from: -1 * (@dim);
  @to: 100%;

  display: block;
  position: absolute;
  width:  @dim;
  height: @dim;
  overflow: hidden;
  background: rgba(0,0,0, 0.15);
  z-index: 1;

  @keyframes gjs-disco {
    0%   { top: @from;  left: @from;  }
    25%  { top: @from;  left: @to;    }
    50%  { top: @to;    left: @to;    }
    75%  { top: @to;    left: @from;  }
    100% { top: @from;  left: @from;  }
  }

  @-webkit-keyframes gjs-disco {
    0%   { top: @from;  left: @from;  }
    25%  { top: @from;  left: @to;    }
    50%  { top: @to;    left: @to;    }
    75%  { top: @to;    left: @from;  }
    100% { top: @from;  left: @from;  }
  }

  @-moz-keyframes gjs-disco {
    0%   { top: @from;  left: @from;  }
    25%  { top: @from;  left: @to;    }
    50%  { top: @to;    left: @to;    }
    75%  { top: @to;    left: @from;  }
    100% { top: @from;  left: @from;  }
  }

  @-o-keyframes gjs-disco {
    0%   { top: @from;  left: @from;  }
    25%  { top: @from;  left: @to;    }
    50%  { top: @to;    left: @to;    }
    75%  { top: @to;    left: @from;  }
    100% { top: @from;  left: @from;  }
  }

  .gjs-animate('disco'; 0.5s linear infinite);
}
.gjs-spot-flashy {
  .gjs-fullscreen(0);
  z-index: 1;
  pointer-events: none;
  opacity: 0.5;

  @keyframes gjs-flashy {
    0%   { }
    100% { }
  }

  @-webkit-keyframes gjs-flashy {
    0%   { background: red;  }
    50%  { background: red; }
    100% { background: transparent;    }
  }

  @-moz-keyframes gjs-flashy {
    0%   { }
    100% { }
  }

  @-o-keyframes gjs-flashy {
    0%   {  }
    100% {  }
  }

  .gjs-animate('flashy'; 1s cubic-bezier(.175,.885,.32,1.275) alternate infinite);

  &.flash-once {
    -webkit-animation-iteration-count:  2;
    -moz-animation-iteration-count:     2;
    -ms-animation-iteration-count:      2;
    -o-animation-iteration-count:       2;
    animation-iteration-count:          2;
  }
}

.gjs-with-overlay {
  p, span, pre, blockquote, strong, em {
    &.gjs-spot-focused:not(.no-highlight) {
      color: @gjs-highlight-contrast;
    }
  }
}

.gjs-spot.no-highlight {
  &:after {
    display: none;
    content: normal;
  }
}

.gjs-with-overlay #gjs {
  .gjs-box-sizing(content-box);

  &:after {
    .gjs-fullscreen(0; fixed);
    background-color: #000;
    background: -moz-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
    background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(0,0,0,0.4)),color-stop(100%,rgba(0,0,0,0.9)));
    background: -webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
    background: -o-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
    background: -ms-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
    background: radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000',endColorstr='#e6000000',GradientType=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    z-index: @gjs-layer-background;
  }
}

.gjs-with-overlay .gjs-entity {
  z-index: @gjs-layer-entities;
}
.gjs-with-overlay .gjs-spot:after {
  .gjs-box-shadow(0; 2px; 15px; 0; rgba(0,0,0,.4));
}

.gjs-entity .caption {
  margin: 0 0 10px 0;
  font-size: 16px;
  padding: 0 0 10px 0;
  /*border-bottom: 1px solid @gjs-highlight-contrast;*/
  .gjs-border-bottom();
  .gjs-box-sizing(content-box);
}

