<section class="single content-sources">
  <div>
    <h3>Via JavaScript</h3>

    <button id="via_js">Via JavaScript</button>

    <div class="freespace"></div>
    <p><strong>Code</strong></p>
    <pre data-language="javascript">
Guide.addSpots([{
  $el: $('#via_js'),
  text: "I'm a Tour Step built from JavaScript!",
  marker: {
    position: 'right'
  }
}]);
    </pre>
  </div>
  <hr />
  <div>
    <h3>Via Markup</h3>

    <button
      data-guide="I was made into a Tour Step using data- attributes"
      data-guide-options="marker.width: 120">
      Via Markup
    </button>

    <div class="freespace"></div>
    <p><strong>Code</strong></p>
<pre data-language="html">
&lt;button
  data-guide="I was made into a Tour Step using data- attributes"
  data-guide-options="marker.width: 120"&gt;
  Via Markup
&lt;/button&gt;
</pre>
  </div>

  <hr />
  <div>
    <h3>Via another HTML element</h3>
    <button id="via_node"
      data-guide-caption="Referenced Content"
      data-guide-options="marker.width: 240">Via another HTML element</button>
<pre data-language="html">
&lt;div data-guide-spot=&quot;#via_node&quot; data-guide-caption=&quot;Referenced Content&quot;
    data-guide-options=&quot;marker.position:top, marker.width:240&quot; class=&quot;text-left&quot;&gt;
  This is content taken from a separate HTML &lt;code&gt;div&lt;/code&gt; element.

  &lt;p&gt;As you can see, you can use any kind of markup to embed inside
    a Guide.js marker.
  &lt;/p&gt;

  &lt;p&gt;Here's a list for illustration:&lt;/p&gt;
  &lt;ul&gt;
    &lt;li&gt;Flexible&lt;/li&gt;
    &lt;li&gt;Responsive&lt;/li&gt;
    &lt;li&gt;Pink&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;
</pre>
  </div>
</section>

<div data-guide-spot="#via_node" data-guide-caption="Referenced Content"
    data-guide-options="marker.position:top, marker.width:240" class="text-left">
  This is content taken from a separate HTML <code>div</code> element.

  <p>As you can see, you can use any kind of markup to embed inside
    a Guide.js marker.
  </p>

  <p>Here's a list for illustration:</p>
  <ul>
    <li>Flexible</li>
    <li>Responsive</li>
    <li>Pink</li>
  </ul>
</div>


<script>
  $(function() {
    Guide.getTour('Default Tour').setOptions({
      alwaysMark: false,
      marker: {
        placement: 'sibling',
        position:  'right'
      },
      tutor: {
        enabled: false
      },
      controls: {
        inMarkers: true,
        withJumps: false,
        withClose: false
      }
    });

    Guide.addSpots([
      {
        $el: $('#via_js'),
        text: "I'm a Tour Step built from JavaScript!",
        // these options override the tour spot options defined above
        marker: {
          placement: 'sibling',
          position: 'right'
        }
      }
    ]);

    // parse tour spots from the DOM/markup
    Guide.fromDOM('body');

    Guide.show();
  });

</script>
