<section>
  <p id="hidden_paragraph">Highlight me</p>
</section>

<script>
  $(function() {
    guide.defineTour('Controls')
      .setOptions({
        isDefault: true,
        alwaysHighlight: false,
        alwaysMark: false,
        marker: { position: 'top' },
        tutor: { enabled: false }
      })
      .addSpots([
        {
          $el: $('#gjs_controls'),
          text: 'This is the guide.js controls extension, it allows the user to ' +
                'navigate around the tour.',
          marker: { placement: 'inline' }
        },
        {
          $el: $('#gjs_controls [data-action*=next]'),
          text: 'You can go to the next tour spot using this button.',
          marker: { width: 120 }
        },
        {
          $el: $('#gjs_controls [data-action*=prev]'),
          text: 'Or go to the previous spot.',
          marker: { width: 120 }
        },
        {
          $el: $('#gjs_controls select[name="tour"]'),
          text: 'You can choose the tour you\'d like to take, if guide.js has more ' +
                'than one tour available.',
          marker: { width: 120 }
        }
      ]);

    guide.defineTour('Tutor Controls')
      .setOptions({
        alwaysHighlight: false,

        spots: {
          marker: { position: 'top' },
        },

        tutor: {
          enabled: true
        },

        markers: {
          enabled: false
        },

        controls: {
          inTutor: true
        }
      })
    .addSpots([
      {
        $el: $('#gjs_controls'),
        text: 'This is the Controls extension mounted on top of the Tutor extension. ' +
              '<p>The controls are now nicely embedded with the tutor.</p>',
        marker: { placement: 'inline', width: '50%' }
      }
    ]);

    guide.defineTour('Marker Controls')
      .setOptions({
        tutor: {
          enabled: false
        },

        markers: {
          enabled: true
        },

        controls: {
          inMarkers: true
        }
      })
      .addSpots([{
          $el: $('#hidden_paragraph'),
          text: 'This is the Controls extension mounted on top of the Markers extension. ' +
                '<p>The controls are now nicely embedded inside each Marker.</p>',
          marker: {
            placement: 'inline',
            position: 'bottom'
          },

          preFocus: function() {
            this.$el.show();
          },

          onDefocus: function() {
            this.$el.hide();
          }
        }
      ]);

    $(".example p").hide();

    guide.show();
    guide.refresh();
  });
</script>