
    <p><strong>No marker, highlighting only</strong></p>
    <p>
      <button
        data-guide="You'll see this message only when you focus my element
        via the guide.js tutor"
        data-guide-options="withMarker:false">Focus me
      </button>
      <small>
        <em>you can focus the element only by visiting all the precedent steps</em>
      </small>
    </p>

    <p><strong>No highlighting, using a marker instead</strong></p>
    <p>
      <button
        data-guide="My color hasn't been changed since I'm not highlighted"
        data-guide-options="highlight:false">Focus me
      </button>
    </p>